h1, h2, fieldset, p {
    display: block;
    text-align: center;
}
.image {
    display: block;
    width:400px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
}
.picks {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}